body {
    background-color: #efeded;
}

#section-info {
    position: fixed;
    width: 500px;
    top: 50px;
    left: 35%;
    color: #927463;
    font-family: Arial, "Arial Black", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px auto;
}

#section-info-box {
    margin-top: -33px;
    margin-left: -75px;
    padding-left: 15px;
    position: relative;
    background-color: #ffe574;
    border: 6px solid white;
    z-index: 5;
    opacity: 0.9;
}

.section-info-line {
    margin-left: -400px;
    margin-top: -50px;
    width: 600px;
    z-index: 2;
}

.section-info-message-class {
    display: none;
}

#wrapper {
    margin-top: 265px;
    overflow-x: scroll;
}

.page-info {
    margin-top: 65px;
    font-weight: bolder;
    text-align: center;
}

#larger-device {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFE0B2;
    text-align: center;
    font-size: 3em;
}

@media (min-width: 0px) {
    #larger-device {
        display: inherit;
    }

}

@media (min-width: 400px) {
    #larger-device {
        display: none;
    }

    #root-image {
        height: 280px;
        margin-left: -70px;
    }

    #wrapper {
        width: 97%;
    }

    .section-info-line {
        visibility: hidden;
    }

    #section-info-box {
        width: 400px;
        font-size: 0.8em;
        margin-left: -140px;
    }

    #section-info-line3 {
        margin-left: 0px
    }
}

@media (min-width: 800px) {
    .section-info-line {
        visibility: inherit;
    }

    #section-info-box {
        width: 500px;
        font-size: inherit;
    }
}

@media (min-width: 1000px) {
    #section-info-line3 {
        margin-left: 100px
    }
}

@media (min-width: 1100px) {
    #root-image {
        margin-left: 0px;
        height: 250px;
    }

    #wrapper {
        width: 87%;
    }

}

@media (min-width: 1400px) {
    /*Okay size*/
    #root-image {
        height: 300px;
    }

    #wrapper {
        width: 97%;
    }

    #section-info-line3 {
        margin-left: 318px
    }

}